<article id="andmore">
  <h2>And more</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="http://github.com/KevinBongart/Trellolol">Trellolol</a>
        is an app to learn more about your
        <a href="http://trello.com">Trello</a> boards.
      </p>
      <p>
        <a href="http://github.com/KevinBongart/rufio">Rufio</a>
        is an app that offers a useful log for
        <a href="http://customer.io">Customer.io</a> events.
      </p>
      <p>
        <a href="http://github.com/KevinBongart/HungryNow">HungryNow</a>
        is an app to get food recommendations that uses
        <a href="http://punchfork.com/">Punchfork</a> API for find recipes.
      </p>
      <p>
        <a href="http://github.com/KevinBongart/globaleater">Global Eater</a>
        is an app to help you discover food from around the globe. It uses
        <a href="http://yelp.com">Yelp</a> API to find local restaurants.
      </p>
      <p>
        <a href="http://github.com/KevinBongart/babymonkey">Babymonkey</a>
        is an app to test HTML email layout using
        <a href="http://mandrill.com/">Mandrill</a> transactional email service.
      </p>
      <p>
        <a href="http://github.com/KevinBongart/AgileBoard">AgileBoard</a>
        is an app to help teams get a clear view of their current sprint using
        data from <a href="http://www.pivotaltracker.com/">Pivotal Tracker</a>.
      </p>
      <p>
        Basically, everything I make is either project management or food related.
      </p>
    </div>
  </div>
</article>
