<article>
  <h2>ChallengePost</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="http://challengepost.com">ChallengePost</a>
        is a platform for online software competitions and in-person hackathons.
        Thousands of developers have participated in hundreds of challenges organized by
        <a href="http://nycschools.challengepost.com/">New York City</a>,
        <a href="http://2012.devcup.evernote.com/">Evernote</a>,
        <a href="http://www.freethetvchallenge.com/">Samsung</a>,
        <a href="http://2013mtaappquest.challengepost.com/">the MTA</a> and
        <a href="http://challenge.gov/">the White House</a>.
      </p>

      <p>
        Made with
        <span class="technology">Ruby on Rails</span> and
        <span class="technology">dark chocolate covered almonds</span>.
      </p>

      <figure>
        <p><img src="images/challengepost/ipad1.png"></p>
        <figcaption>
          <p>Discover hundreds of challenges, build software to solve problems, win prizes.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/challengepost/macbook1.png"></p>
        <figcaption>
          <p>Each challenge can be entirely customized.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/challengepost/ipad2.png"></p>
      </figure>
    </div>
  </div>
</article>
