<article id="kanban">
  <h2>Kanban</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="https://github.com/kevinbongart/kanban">Kanban</a>
        is a project management app that gives a clear overview of the upcoming tasks,
        who is currently working on what and what has recently been deployed.
        It's pretty because of <a href="http://holly-smith.com/">Holly</a>,
        but the project was abandonned when
        <a href="http://trello.com/">Trello</a> was realeased.
      </p>

      <p>
        Made with
        <span class="technology">Ruby on Rails</span>.
        Fork it on <a href="http://github.com/KevinBongart/kanban">GitHub</a>.
      </p>

      <figure>
        <p><img src="images/kanban/macbook.png"></p>
        <figcaption>
          <p>
            Tasks and user photos are drag'n'droppable.
            See the progress of a task with color indicators.
            The limit of a column gets highlighted when there are too many tasks being worked on, to help the team focus on shipping.
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</article>
