<article id="ourbandiscalled">
  <h2>Our Band Is Called…</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="http://watchth.is">Our Band Is Called…</a>
        is a Rock'n'Roll band name generator. It's an open-source implementation of
        <a href="http://dubiousquality.blogspot.com/2008/01/rock-band-99.html">Bill Harris' algorithm</a>
        using Flickr, Wikipedia and The Quotations Page.
        As always, <a href="http://alexandretestu.com">Alex</a> made it awesome.
      </p>

      <p>
        Made with
        <span class="technology">Ruby</span>,
        <span class="technology">Sinatra</span> and
        <span class="technology">Rock'n'Roll</span>.
        Fork it on <a href="http://github.com/KevinBongart/ourbandiscalled">GitHub</a>.
      </p>

      <figure>
        <p><img src="images/our_band_is_called/ipad1.png"></p>
        <figcaption>
          <p>Sometimes I want these records to actually exist.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/our_band_is_called/ipad2.png"></p>
        <figcaption>
          <p>I once heard that people at the New York Times had a lot of fun with it, which is pretty cool.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/our_band_is_called/ipad3.png"></p>
      </figure>
    </div>
  </div>
</article>
