<article>
  <h2>Our Band Is Called...</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="http://watchth.is">Our Band Is Called...</a>
        is an Indie band name generator. It's an open-source implementation of Bill Harris' algorithm
        using Flickr, Wikipedia and The Quotations Page.
        As always, <a href="http://alexandretestu.com">Alex</a> made it usable.
      </p>

      <p>
        Made with
        <span class="technology">Ruby</span>,
        <span class="technology">Sinatra</span> and
        <span class="technology">Rock'n'Roll</span>.
      </p>

      <figure>
        <p><img src="images/our_band_is_called/ipad_1.png"></p>
        <figcaption>
          <p>Sometimes I want these records to actually exist.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/our_band_is_called/ipad2.png"></p>
        <figcaption>
          <p>I once heard that people at the New York Times had a lot of fun with it, which is pretty cool.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/our_band_is_called/ipad3.png"></p>
      </figure>
    </div>
  </div>
</article>
