<article>
  <h2>Our Band Is Called...</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="http://watchth.is">Our Band Is Called...</a>
        is a Rock'n'Roll band name generator. It's an open-source implementation of Bill Harris' algorithm
        using Flickr, Wikipedia and The Quotations Page.
        I once heard that people at the New York Times had a lot of fun with it, which is pretty cool.
        As always, <a href="http://alexandretestu.com">Alex</a> made it usable.
      </p>

      <p>
        Made with
        <span class="technology">Ruby</span>,
        <span class="technology">Sinatra</span> and
        <span class="technology">Rock'n'Roll</span>.
      </p>

      <figure>
        <p><img src="images/our_band_is_called/ipad_1.png"></p>
        <figcaption>
          <p>Sometimes I really want these records to exist.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/our_band_is_called/macbook.png"></p>
        <figcaption>
          <p>My actual user profile. That's right: I still haven't seen these movies.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</article>
