<article id="watchthis">
  <h2>WatchThis</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="http://watchth.is">WatchThis</a>
        is a website designed to help you discover great movies and keep track of the ones you watched. It has a recommendation engine and a live-search feature.
        My friend <a href="http://alexandretestu.com">Alexandre Testu</a> chose the colors and drew the shapes.
      </p>

      <p>
        Made with
        <span class="technology">Ruby on Rails</span>,
        <span class="technology">Redis</span>,
        <span class="technology">TMDB API</span> and
        <span class="technology">Rotten Tomatoes API</span>.
      </p>

      <figure>
        <p><img src="images/watchthis/my_movies.png"></p>
        <figcaption>
          <p>Discover movies to add to your to-watch list.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/watchthis/profile.png"></p>
        <figcaption>
          <p>My actual user profile. That's right: I still haven't seen these movies.</p>
        </figcaption>
      </figure>

      <figure>
        <p><img src="images/watchthis/lost_in_translation_ipad.png"></p>
      </figure>
    </div>
  </div>
</article>
