/***********************
HOME PAGE HERO SECTION
***********************/
.hero {
  background: url("../images/700.jpg") no-repeat scroll center center / cover transparent;
  padding: 7em 0 2.6em 0;
  
  p {
    margin-bottom: 0;
  }
}

/***********************
BLE
***********************/

.latest-blog {
  
}

.latest-news {
  
}