// Settings file to override Foundation variables

// You can find the variables for each component at the bottom of their
// doc page. We tried to name them to where they'd make sense just by reading them.
// Go to http://foundation.zurb.com/docs/ to find what you need.

$mobile: 479px;

$topbar-height: 70px;
$topbar-title-weight: normal;

$h2-font-size: 1.875em; //30px
$h3-font-size: 1em;