.grey {
  background-color: #EEEEEE;
}

h1, h2 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, figcaption {
  font-family: "Merriweather";
}

p.screenshot.small {
  padding-bottom: 5px;

  &.selected {
    border-bottom: 5px solid #DDDDDD;
  }

  &:hover {
    border-bottom: 5px solid #FF0000;
  }
}

article {
/*  border-bottom: 1px solid #eeeeee;
  margin: 20px 0 30px;
  padding-bottom: 39px;
*/}

article h2 {
  text-align: center;
}

a {
  color: #FF0000;
}

a:hover {
  color: black;
  text-decoration: none;
}

figcaption {
  /*background-color: #cccccc;*/
}
