---
title: Things I wrote
---

<header id="info">
  <div class='row'>
    <div class='large-12 columns'>
      <a href='/'>kevinbongart.net</a> >
      <%= link_to "Things I wrote", "/things-i-wrote.html" %> >
      <%= link_to current_page.data.title, current_page.path %>
    </div>
  </div>
</header>
