<div class='row'>
  <div class='large-12 columns'>
    <h1>Hi, I'm Kevin Bongart.</h1>
  </div>
  <div class='large-2 columns'>
    <p><img src='images/clarkkent_round.png'></p>
  </div>
  <div class='large-10 columns'>
    <p>
      I'm a New York-based software engineer originally from Paris.
      I build web apps at
      <a href='http://challengepost.com'>ChallengePost</a>.
    </p>

    <p>
      Here are the last 10 things I've made:
      <a href='/#watchthis'>WatchThis</a>,
      <a href='/#challengepost'>ChallengePost</a>,
      <a href='/#ourbandiscalled'>Our Band Is Called</a>,
      <a href='/#kanban'>Kanban</a>,
      <a href='/#andmore'>Trellolol</a>,
      <a href='/#andmore'>Rufio</a>,
      <a href='/#andmore'>HungryNow</a>,
      <a href='/#andmore'>Babymonkey</a>,
      <a href='/#andmore'>AgileBoard</a> and
      <a href='/#andmore'>Global Eater</a>.
    </p>

    <p>
      I enjoy pleasant email exchanges. Feel free to contact me:
      <a href='mailto:contact@kevinbongart.net'>contact@kevinbongart.net</a>.
      You'll also find me on
      <a href='http://github.com/KevinBongart'>GitHub</a> and
      <a href='http://twitter.com/KevinBongart'>Twitter</a>.
    </p>
  </div>
</div>
