<footer class="middleman">
  <div class='row'>
    <div class='large-12 columns'>
      <p>
        Even this website is homemade with
        <span class="technology">Middleman</span> and
        <span class="technology">Zurb Foundation</span>.
        Fork it on <a href="http://github.com/KevinBongart/homepage">GitHub</a>.
      </p>
    </div>
  </div>
</footer>
