<footer>
  <div class='row'>
    <div class='large-1 columns' style="text-align: right;">
      footer    
    </div>
    <div class='large-11 columns'>
      footer    
    </div>
  </div>
</footer>
