<div class='row'>
  <div class='large-12 columns'>
    <p>Sony Tiwari enjoys a varied career in the arts as a teacher, composer, producer, conductor, researcher, and performer. An MA graduate in music at NYU, he is currently Assistant Professor of Music at Bergen Community College in Paramus, NJ, where he leads courses in music theory, the humanities and music business. He is also the co-founder of Realativity Music Group, a company dedicated independent artists and multimedia projects.</p>    
  </div>
</div>
