<div class='row'>
  <div class='large-6 columns latest-blog'>
    <h3>Latest Blog Post</h3>
    <h2>A title goes here</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit at ante eu vulputate. Morbi porttitor tempus nisi. Nunc molestie vel justo pulvinar laoreet. Proin a massa volutpat, imperdiet orci a, accumsan odio. Donec eu lectus id diam tincidunt scelerisque. Cras placerat nisi non mi euismod venenatis.</p>
  </div>
  <div class='large-6 columns latest-news'>
    <h3>Latest News</h3>
    <h2>A title goes here</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit at ante eu vulputate. Morbi porttitor tempus nisi. Nunc molestie vel justo pulvinar laoreet. Proin a massa volutpat, imperdiet orci a, accumsan odio. Donec eu lectus id diam tincidunt scelerisque. Cras placerat nisi non mi euismod venenatis.</p>   
  </div>
</div>
