<article>
  <div class='row'>
    <div class='large-12 columns'>
      <h1>25 things I wish I had learned earlier</h1>

      <p>I'm 25 today. Here's a list of things I wish I had learned earlier:</p>
      <ol>
      <li>Time is the most important resource you have. Don't waste it.</li>
      <li>If you don't ask for what you want, you won't get it. Asking for it isn't enough either.</li>
      <li>Music is important. Listen to what <a href="http://wedontneedroads.net/post/91846629/wolfgang-amadeus-mozart-concerto-for-clarinet">has gone through centuries</a> and <a href="http://wedontneedroads.net/post/380659766/louis-armstrong-duke-ellington-solitude">inspired generations</a>, forget about the rest.</li>
      <li>Instead of watching TV, watch the world you live in: the touristic places will tell you about a country's history, the local pubs about its people.</li>
      <li>You're not unique. Everybody is just like you, except they don't tell you.</li>
      <li>Do never spend the money you don't have yet.</li>
      <li>Write down every single thing you have to do, you'll sleep better. <a href="http://en.wikipedia.org/wiki/Getting_Things_Done">GTD</a> is a good way to do it.</li>
      <li>Love is just <a href="http://en.wikipedia.org/wiki/Biological_basis_of_love#Neurochemistry">a chemical phenomenon</a>, but it's still awesome.</li>
      <li>Stuff you buy and services you pay are supposed to just work and for a long time. Choose wisely instead of spending your time and money on crap.</li>
      <li>Stop complaining about free healthcare and free education.</li>
      <li><a href="http://www.backblaze.com/">Back up your data</a>.</li>
      <li>Family will always be there for you. Be there for them too.</li>
      <li>Running is easy and good for you. The hardest part is to start: <a href="http://www.coolrunning.com/engine/2/2_3/181.shtml">Couch to 5k</a> will help you reach 5 kilometers and the <a href="http://RunKeeper.com">RunKeeper</a> platform will make you go further.</li>
      <li>Learn to forgive: everybody can make a mistake as long as they learn from it.</li>
      <li>Wikipedia is one of the most useful things we built. Think about how often you use it and <a href="http://donate.wikimedia.org/">give a few bucks to the creepy guy</a> already.</li>
      <li>Guitar is easy to learn and a great way to express yourself. Start with the Beatles, don't stop at the F chord and skip Oasis.</li>
      <li>Don't force people to change their habits. Make them want to do it.</li>
      <li>You won't be able to watch every good movie. Focus on <a href="http://watchth.is/movies/1-back-to-the-future">the great ones</a>.</li>
      <li>Be nice to most people and just ignore the assholes.</li>
      <li>Watch <a href="http://en.wikipedia.org/wiki/Friends">Friends</a>.</li>
      <li>You have a lot to learn from your grandparents. Call them once a week.</li>
      <li>Find out what the teacher expects from you and prove him you understood. The key to success in school is to never be surprised.</li>
      <li>Don't panic: if you can't fix the issue, just wait until you have more information.</li>
      <li>Technology is not perfect yet, but it still does more than you could imagine five years ago. Give it a second while <a href="http://www.youtube.com/watch?v=8r1CZTLk-Gk">it's going to space</a>.</li>
      <li>Know how to order a beer wherever you go, and you'll be safe.</li>
      </ol>
      <p>Take care,</p>
      <p>Kevin</p>
      <p>ps: Stop riding your BMX with no hands, it's going to end badly.</p>
    </div>
  </div>
</article>

<%= partial "header" %>
