<article>
  <h2>ChallengePost</h2>
  <div class="row">
    <div class="large-12 columns">
      <p>
        <a href="http://challengepost.com">ChallengePost</a>
        is a website designed to help you discover great movies and keep track of the ones you watched. It has a recommendation engine and a live-search feature.
        My friend <a href="http://alexandretestu.com">Alexandre Testu</a> chose the colors and drew the shapes.
      </p>

      <p>
        Made with
        <span class="technology">Ruby on Rails</span>,
        <span class="technology">Redis</span>,
        <span class="technology">TMDB API</span> and
        <span class="technology">Rotten Tomatoes API</span>.
      </p>

      <p>
        <figure>
          <img src="http://s3.amazonaws.com/place-it/public/uploads/productshot/657013/breezi_placeit.png">
          <figcaption>
            Discover movies to add to your to-watch list.
          </figcaption>
        </figure>
      </p>

      <p>
        <figure>
          <img src="http://f.cl.ly/items/3d203C2e1W072A2B0J1V/breezi_placeit-3.png">
        </figure>
      </p>

      <p>
        <figure>
          <img src="http://s3.amazonaws.com/place-it/public/uploads/productshot/658822/breezi_placeit.png">
          <figcaption>
            My actual user profile. It's true: I still haven't seen these movies.
          </figcaption>
        </figure>
      </p>
    </div>
  </div>
</article>
