<header>
  <div class='row'>
    <div class='large-12 columns'>
      <h1>Hi, I'm Kevin Bongart.</h1>
    </div>
    <div class='large-2 columns'>
      <p><img src='images/clarkkent_round.png'></p>
    </div>
    <div class='large-10 columns'>
      <div class='coolstorybro'>
        <p>
          I'm a French software engineer living in New York,
          where I build web apps at
          <a href='http://challengepost.com'>ChallengePost</a>.
        </p>

        <p>
          You'll find me on
          <a href='http://twitter.com/KevinBongart'>Twitter</a>,
          <a href='http://github.com/KevinBongart'>GitHub</a>,
          <a href='http://wedontneedroads.net/tagged/blog'>Tumblr</a>,
          <a href='http://runkeeper.com/profile?username=kevinbongart'>RunKeeper</a>,
          <a href='http://watchth.is/users/Kevin'>WatchThis</a> and
          <a href='http://www.last.fm/user/kevinbongart'>Last.fm</a>.
          I also enjoy pleasant e-mail exchanges. Feel free to contact me:
          <a href='mailto:contact@kevinbongart.net'>contact@kevinbongart.net</a>.
        </p>

        <p>
          Some things I worked on:
          <a href='#watchthis'>WatchThis</a>,
          <a href='#challengepost'>ChallengePost</a>,
          <a href='#ourbandiscalled'>Our Band Is Called…</a>,
          <a href='#kanban'>Kanban</a>
        </p>
      </div>
    </div>
  </div>
</header>
