<header>
  <div class='row'>
    <div class='large-12 columns'>
      <h1>Hi, I'm Kevin Bongart</h1>
    </div>
    <div class='large-2 columns'>
      <p><img src='images/clarkkent_round.png'></p>
    </div>
    <div class='large-10 columns'>
      <div class='coolstorybro'>
        <p>
          I'm a French software engineer living in New York,
          where I build Ruby on Rails apps at
          <a href='http://challengepost.com'>ChallengePost</a>.
          We power technology competitions to solve problems and innovate.
        </p>

        <p>
          Feel free to contact me:
          <a href='mailto:contact@kevinbongart.net'>contact@kevinbongart.net</a>.
          I enjoy pleasant e-mail exchanges.
        </p>

        <p>
          You'll find me on
          <a href='http://twitter.com/KevinBongart'>Twitter</a>,
          <a href='http://github.com/KevinBongart'>GitHub</a>,
          <a href='http://wedontneedroads.net/'>Tumblr</a>,
          <a href='http://watchth.is/users/Kevin'>WatchThis</a> and
          <a href='http://www.last.fm/user/kevinbongart'>Last.fm</a>.
        </p>
      </div>
    </div>
  </div>
</header>
