---
title: bio
---

<%= partial "partials/header" %>

<section class="header-banner bio">
  <div class='row'>
    <div class='large-12 columns'>
      <p>Yay</p>    
    </div>
  </div>
</section>

<article>
  <div class='row'>
    <div class='large-12 columns'>
      <p>Some text</p>
    </div>
  </div>
</article>

<%= partial "partials/footer" %>
