---
title: Welcome to Middleman Foundation
---

.row
  .large-12.columns
    %h3 LOL
    %p We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
    %p
      %img{src: "http://s3.amazonaws.com/place-it/public/uploads/productshot/657013/breezi_placeit.png"}
    .row
      .large-4.columns
        %p
          %img{src: "http://s3.amazonaws.com/place-it/public/uploads/productshot/657013/breezi_placeit.png"}
      .large-4.columns
        %p
          %img{src: "http://s3.amazonaws.com/place-it/public/uploads/productshot/657013/breezi_placeit.png"}
      .large-4.columns
        %p
          %img{src: "http://s3.amazonaws.com/place-it/public/uploads/productshot/657013/breezi_placeit.png"}
