<header id="info">
  <div class='row'>
    <div class='large-12 columns'>
      <a href='/'>kevinbongart.net</a> >
      <%= link_to "Things I wrote", current_page.path %>
    </div>
  </div>
</header>

<div class='row'>
  <div class='large-12 columns'>
    <h1>Things I wrote</h1>
    <ul>
      <li>
        <a href="25-things-i-wish-i-had-learned-earlier.html">25 things I wish I had learned earlier</a>
      </li>
    </ul>
  </div>
</div>
